<p>
<b>Здравствуйте, {{Name}} {{Surname}}!</b>
</p>
<p>
Уведомляем Вас о завершении пробного периода эксплуатации демо-сайта Qlik Sense компании RBC Group.
В случае заинтересованности продуктом Qlik Sense, потребности в получении доступа к остальным бизнес моделям, просим Вас связаться с нами.
Также, мы будем рады провести обзорную презентацию решений Qlik Sense для Вас и ваших коллег в любое время.
</p>
<p>
Контактная информация для дальнейшей коммуникации представлена в конце данного письма.
</p>
{{>contacts.ru}}
