<p>
<b>Здравствуйте, {{Name}} {{Surname}}!</b>
</p>

<p>
Уведомляем Вас о наличии клиентских лицензий для доступа к приложению
«{{applicationTitle}}» (доступно по ссылке {{{access_url}}})
демо-сайта Qlik Sense компании RBC Group.
</p>

{{>contacts.ru}}
