<p>
<b>Здравствуйте, {{Name}} {{Surname}}!</b>
</p>

<p>
Благодарим Вас за интерес к компании RBC Group, а также к решению для бизнес-анализа Qlik Sense.
</p>

<p>
Вам предоставлен доступ к приложению «{{applicationTitle}}» (доступно по ссылке {{{access_url}}})
демо-сайта Qlik Sense компании RBC Group.
</p>

<p>
К сожалению, на текущий момент нет доступных клиентских лицензий для доступа к выбранному приложению.
О наличии свободных клиентских лицензий Вы получите дополнительное уведомление в ближайшее время.
</p>
{{>contacts.ru}}
