<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1" role="main">
        <div class="panel panel-default">
            <div class="jumbotron">
              <h3><span class="gc">{{{translations.thanksForRegistration}}}</span></h3>
              <p>{{{translations.registeredText}}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
